@font-face {
    font-family: titleFont;
    src: url(Marline.otf);
}
html, body {
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column-reverse;
    background-color: black;
}

div {
    display: flex;
}

#container {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: max-content;
}

.box {
    flex-direction: row;
    flex: auto;
}

button {
    background: 'black';
    width: 170px;
    height: 30px;
    margin: 10px;
    justify-self: center;
    padding: 0px;
    border: 4px;
}

#div1 {
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
}

#instructions {
    margin-top: 0px;
    margin-bottom: 0px;
}
